# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

.*
!/.gitignore

# C extensions
*.so
*.DS_Store
data
*.csv
*.gz

*.pickle
token_coda.json
*/dask-worker-space
creds/*
### test -> install jupytex easier for versioning
#*.ipynb
01_data_preprocessing/01_prepare_tables/00_POC_prepare_tables/XX_template_POC_prepare_table_AWS.md
01_data_preprocessing/01_prepare_tables/00_POC_prepare_tables/XX_template_POC_prepare_table_AWS.ipynb
01_data_preprocessing/XX_transform_table_from_S3.md
01_data_preprocessing/XX_transform_table_from_S3.ipynb
01_data_preprocessing/XX_template_table_preprocessing_from_Athena.md
01_data_preprocessing/XX_template_table_preprocessing_from_Athena.ipynb
01_data_preprocessing/XX_template_table_creation_from_Athena.md
01_data_preprocessing/XX_template_table_creation_from_Athena.ipynb
01_data_preprocessing/XX_document_and_analyse_tables_from_S3.md
01_data_preprocessing/XX_document_and_analyse_tables_from_S3.ipynb
01_data_preprocessing/02_prepare_tables_model/00_POC_prepare_tables_model/XX_template_POC_preprocessing_AWS.md
01_data_preprocessing/02_prepare_tables_model/00_POC_prepare_tables_model/XX_template_POC_preprocessing_AWS.ipynb
02_data_analysis/01_model_estimation/XX_template_econometrics_AWS.ipynb
02_data_analysis/01_model_estimation/XX_template_econometrics_AWS.md
Template/*

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.virtual_documents

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints
*.virtual_documents
*.ipynb.py

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
01_data_preprocessing/00_download_data/CHINA_BANKING_BRANCH/lambda_branches/bank_branches.py
